---
title: "All Articles"
layout: base
---

<h2>All Articles ({{collections.blog | length }}) </h2>

<ol reversed class="mt-4 md:mt-6 space-y-6">
  {% for post in collections.blog | reverse %}
    <li>
      <h4>
        <a href="{{post.url}}">{{post.data.title}}</a>
      </h4>
      <p class="opacity-70 text-sm">
        <time datetime="{{ post.date | dateIso }}">{{ post.date | dateReadable }}</time>
        <span> · {{ post.content | timeToRead }} read </span>
      </p>
    </li>
  {% endfor %}
  <ol>