---
eleventyExcludeFromCollections: true
permalink: /robots.txt
---
User-agent: googlebot
User-agent: yahoobot
User-agent: microsoftbot
Allow: /
Host: {{meta.host}}
Sitemap: {{meta.siteUrl}}/sitemap.xml

User-agent: GPTBot
Disallow: /
