---
pagination:
  data: collections
  size: 1
  alias: tag
  filter:
    - all
    - post
    - posts
    - tagList
    - blog
  addAllPagesToCollections: true
eleventyExcludeFromCollections: true
permalink: /feeds/{{ tag | slugify }}-feed.xml
---
<?xml version="1.0" encoding="utf-8"?>
<rss version="2.0" xmlns:dc="http://purl.org/dc/elements/1.1/" xml:base="{{ metadata.url }}" xmlns:atom="http://www.w3.org/2005/Atom">
  <channel>
    <title>Tamizhvendan's {{ tag | slugify }}'s articles"</title>
    <link>{{ meta.siteUrl }}/tags/{{tag | slugify}}</link>
    <atom:link href="{{ meta.siteUrl }}/feeds/{{ tag | slugify }}-feed.xml" rel="self" type="application/rss+xml"/>
    <description>{{ meta.description }}</description>
    <language>en</language>
    {%- for post in collections[tag] | reverse %}
      <item>
        <title>{{ post.data.title }}</title>
        <link>{{ meta.siteUrl }}{{ post.url }}</link>
        <pubDate>{{ post.date | dateToRfc822 }}</pubDate>
        <dc:creator>{{ meta.author.name }}</dc:creator>
        <guid>{{ meta.siteUrl }}{{ page.url }}</guid>
      </item>
    {%- endfor %}
  </channel>
</rss>