---
eleventyExcludeFromCollections: true
permalink: /tags/
layout: base
title: Tags
---

<h1>Tags</h1>

<ul class="flex flex-wrap gap-3 mt-4 md:mt-6">
  {% for tag in collections.all | getAllTags | filterTagList %}
    {% set tagUrl %}/tags/{{ tag | slugify }}/{% endset %}
    <li class="shrink-0">
      <a href="{{ tagUrl }}" class="post-tag">{{ tag }}</a>
    </li>
  {% endfor %}
</ul>