---
title: "F# Applied II"
layout: base
description: A Practical Guide for Web Development in F# using Suave
---
<div class="relative">
  <script src="https://gumroad.com/js/gumroad.js"></script>
  <img class="rounded shadow lg:h-[32rem] lg:mx-auto w-full"
  src="/assets/images/book/fs-applied-ii-intro-bg.png" alt="F# Applied II Book Cover Image"/>
  <div class="absolute inset-0 text-white mt-12 px-2 lg:mt-32 flex flex-col space-y-2">
    <h1 class="text-center font-display text-3xl lg:text-6xl">F# Applied II</h1>
    <p class="opacity-90 text-center mt-2 lg:text-xl">A Practical Guide for Web Development in F# using Suave</p>
    <a class="gumroad-button w-fit mt-2 mx-auto" href="https://tamizhvendan.gumroad.com/l/fs-applied-ii">Get it from</a>
  </div>
</div>

<div class="mt-4 lg:mt-12 space-y-4 lg:space-y-12 max-w-3xl mx-auto">
  <section class="flex flex-col space-y-2 lg:space-y-4">
    <h2 class="font-display text-xl lg:text-3xl">What you’ll learn</h2>

    <p>- The objective of this book is to answer the most significant question that developers encounter while learning or working with F#.</p>

    <p>- How can I build a real-world, production-ready, end-to-end application in F# using the functional programming principles?</p>

    <p>- Immutability, Type Safety, Pattern Matching, Pure Functions and all other functional programming things sound good on paper but How can I build something useful by applying it?</p>

    <p>- This book has been created exclusively to answer these questions in a developer-friendly way!</p>

    <p class="font-semibold">Sounds interesting?</p>

    <p>

      Let’s have a look at what we will be learning from this book.
    </p>
    <p>
We are going to build a clone of the Twitter application, <a class="underline" target="_blank" href="https://github.com/demystifyfp/fstweet">FsTweet</a>. Right from starting an empty directory for the application to deploying it on Azure App Service, we are going to learn step by step.
    </p>

    <p class="font-semibold">The features that you will be building includes</p>

    <div class="ml-3 md:ml-5 space-y-2 lg:space-y-4">
      <p>- Handling new user signups and verifying their email address</p>

      <p>- Authenticating them to access their twitter wall and profile page</p>

      <p>- Following other Twitter users</p>

      <p>- Publishing the tweets to the followers and get real-time updates.</p>
    </div>
    <p class="font-semibold">On the technical side, we are going to learn a lot of things and to quote a few; we’ll be learning</p>

    <div class="ml-3 md:ml-5 space-y-2 lg:space-y-4">
      <p>- The Application of functional programming principles in a real-world application</p>

      <p>- Server-Side Rendering in Suave using DotLiquid</p>

      <p>- Authentication and Authorisation in Suave</p>

      <p>- Application Logging using <a href="https://logary.github.io/">Logary</a>
      </p>
      <p>- Error handling in asynchronous operations using <a href="http://fsprojects.github.io/Chessie/">Chessie</a>.
    </p>
      <p>- Database access using <a href="http://fsprojects.github.io/SQLProvider/">SQLProvider</a>
      </p>
      <p>- Database schema management using <a href="https://github.com/fluentmigrator/fluentmigrator">Fluent Migrator</a>
      </p>
      <p>- Realtime Tweet Feeds and Notifications using <a href="https://getstream.io/">GetStream.io</a>
      </p>
    </p>
  </div>

</section>

<section class="flex flex-col space-y-2 lg:space-y-4">
  <h2 class="font-display text-xl lg:text-3xl">Who this book is for</h2>

  <p>This book targets "intermediate" users of F#. If you are a beginner, I recommend you to checkout the following resources to get the most out of the book</p>

  <p>- <a class="underline" href="http://www.fsharpworkshop.com/" target="_blank">F# Workshop</a>
  </p>
  <p>- <a class="underline" href="https://fsharpforfunandprofit.com/series/thinking-functionally.html" target="_blank">Thinking Functionally</a>
  </p>
  <p>- <a class="underline" href="https://fsharpforfunandprofit.com/series/a-recipe-for-a-functional-app.html" target="_blank">A recipe for a functional app</a>
  </p>
  <p>- <a class="underline" href="https://www.udemy.com/starting-fsharp/" target="_blank">Introduction to F#</a>
  </p>

  <p>If you are someone who is familiar with the basics of F# and wants to develop some complex applications beyond the basics, this book will be an excellent companion.</p>
</section>

<p class="text-center">
  <a class="gumroad-button" href="https://tamizhvendan.gumroad.com/l/fsharp-applied">Get it from</a>
</p>

</div>