---
layout: base
---
<article class="">
  <div class="max-w-2xl">
    <h1 class="text-center leading-normal">{{title}}</h1>
    <div class="flex space-x-1 text-sm mt-3 items-center justify-center w-full opacity-70">
      <dt>Published on</dt>
      <dd>
        <time datetime="{{ date | dateIso }}">{{ date | dateReadable }}</time>
      </dd>
      <dt class="sr-only">Read Time</dt>
      <dd>
        <span> · {{ content | timeToRead }} read </span>
      </dd>
    </div>
  </div>
  <div class="mt-6 prose lg:prose-xl">{{ content | safe }}</div>
</article>