---
layout: base
title: "About Me"
---

<div class="space-y-4 md:space-y-6 mt-4 md:mt-8 lg:mt-12 text-lg max-w-3xl mx-auto">
  <p>
    Hi! 👋
  </p>
  <p>
  I'm Tamizhvendan. A Pragmatic, Passionate, Polyglot & Product Engineer and Software Architect from Chennai, India 🇮🇳.
  </p>
  <img
  class="rounded shadow md:max-w-lg md:mx-auto md:object-cover"
  src="/assets/images/profile_image.jpeg" alt="Tamizhvendan's Profile Picture">
  <p>
  I started my programming journey at the age of 12, and the passion has not left me since then. I am working in the IT industry since 2009. 
  </p>
  <p>
  I have a wealth of experience in solving complex problems using different technologies and developing custom software solutions.
  </p>
</div>