---
layout: base
title: "About Me"
eleventyExcludeFromCollections: true
---

<div class="space-y-4 md:space-y-6 mt-2 md:mt-4 text-lg max-w-3xl mx-auto">
  <p>
    Hi! 👋
  </p>
  <p>
  I'm Tamizhvendan. A Pragmatic, Passionate, Polyglot & Product Engineer and Software Craftsman from Chennai, India 🇮🇳.
  </p>
  <img
  class="rounded shadow md:max-w-lg md:mx-auto md:object-cover"
  src="/assets/images/profile_image.jpeg" alt="Tamizhvendan's Profile Picture">
  <p>
  I started my programming journey at the age of 12, and the passion has not left me since then. I am working in the IT industry since 2009. 
  </p>
  <p>
  I have a wealth of experience in solving complex problems using different technologies and developing custom software solutions.
  </p>
  <p>
    I have worked with more than <b class="font-medium">15 clients</b> and developed <b class="font-semibold">20+ software products</b> using <b class="font-semibold">11 different programming languages</b>. Clojure, Haskell, and F# are some of my favorites.
  </p>
  <p>
    I am a functional programming evangelist, authored couple of books on Web development in F# and an active <a href="https://www.github.com/tamizhvendan">open-source</a> creator. 
  </p>
  <p>
    Currently, I work as a Senior Technical Architect in <a href="https://www.chargebee.com">Chargebee</a> and founder of <a href="https://www.learncsintamil.com">Learn CS in Tamil</a> and <a href="https://www.kalvify.com">Kalvify</a>.
  </p>
</div>