---
title: "F# Applied"
layout: base
---
<div class="relative">
  <script src="https://gumroad.com/js/gumroad.js"></script>
  <img class="rounded shadow lg:h-[32rem] lg:mx-auto w-full object-cover md:object-fill"
  src="/assets/images/book/fs-applied-intro-bg.jpeg" alt="F# Applied Book Cover Image"/>
  <div class="absolute inset-0 text-white mt-12 px-2 lg:mt-32 flex flex-col space-y-2">
    <h1 class="text-center font-display text-3xl lg:text-6xl">F# Applied</h1>
    <p class="opacity-90 text-center mt-2 lg:text-xl">A Practical Guide for Web Development in F# using Suave</p>
    <a class="gumroad-button w-fit mt-2 mx-auto" href="https://tamizhvendan.gumroad.com/l/fsharp-applied">Get it from</a>
  </div>
</div>

<div class="mt-4 lg:mt-12 space-y-4 lg:space-y-12 max-w-3xl mx-auto">
  <section class="flex flex-col space-y-2 lg:space-y-4">
    <h2 class="font-display text-xl lg:text-3xl">What you’ll learn</h2>

    <p>- How to create complete application using Functional Programming Principles using F#</p>

    <p>- An in-depth understanding of Web development in F# using <a class="underline" href="https://suave.io/" target="_blank">Suave</a>
    </p>

    <p>- How to develop applications using EventSourcing, CQRS, and DDD in F#</p>

    <p>- How to set up continuous integration and continuous deployment using FAKE and Docker</p>

    <p>- How to leverage libraries like Rx, FSharp.Data and Paket</p>
  </section>

  <section class="flex flex-col space-y-2 lg:space-y-4">
    <h2 class="font-display text-xl lg:text-3xl">Who this book is for</h2>

    <p>This book targets "intermediate" users of F#. If you are a beginner, I recommend you to checkout the following resources to get the most out of the book</p>

    <p>- <a class="underline" href="http://www.fsharpworkshop.com/" target="_blank">F# Workshop</a>
    </p>
    <p>- <a class="underline" href="https://fsharpforfunandprofit.com/series/thinking-functionally.html" target="_blank">Thinking Functionally</a>
    </p>
    <p>- <a class="underline" href="https://fsharpforfunandprofit.com/series/a-recipe-for-a-functional-app.html" target="_blank">A recipe for a functional app</a>
    </p>
    <p>- <a class="underline" href="https://www.udemy.com/starting-fsharp/" target="_blank">Introduction to F#</a>
    </p>

    <p>If you are someone who is familiar with the basics of F# and wants to develop some complex applications beyond the basics, this book will be an excellent companion.</p>
  </section>

  <section class="flex flex-col space-y-2 lg:space-y-4">
    <h2 class="font-display text-xl lg:text-3xl">Foreword</h2>

    <h3 class="font-display text-lg lg:text-xl">Don Syme <span class="text-sm opacity-80"> (Designer and Architect of F#, Principal Researcher at Microsoft Research)</span></h3>

    <div class="opacity-90 space-y-1 lg:space-y-2">
      <p>As the designer of F#, I’m delighted to recommend this book to you. “F# Applied” is an excellent introduction to applied, modern programming for the web. Starting with Suave, the F# server-side web framework, this book will teach you how to create complete applications using Functional-First Programming with F#. Tamizhvendan teaches you how to write simple, clear code and to use the latest web development techniques.</p>
      <p>Functional Programming is highly suited to the era of the Web and Cloud. If you are a web programmer, you need to be thinking functionally – so make the shift now!</p>
      <p>I also personally invite you to contribute to the F# community through participation in the F# Software Foundation. I am a member of the organization and am proud to contribute my part to the community. I encourage you to learn how to contribute to the technologies you use – don’t just be a “user”, but be a “maker” as well.</p>
    </div>

    <h3 class="font-display text-lg lg:text-xl">Henrik Feldt <span class="text-sm opacity-80">(Co-author of Suave and CEO of qvitoo.com)</span></h3>

    <div class="opacity-90 space-y-1 lg:space-y-2">
      <p>Tamizhvendan has written a book that will blow your mind (in a good way) – beginner or intermediate alike. In a lucid and clear manner, He walks through creating a full web app. He shows you how to build a website that instantaneously updates in response to what happens on the server.</p>
      <p>Through this, you’ll learn not only good patterns for writing functional web APIs and web apps but also get a taste of how it works end-to-end. Typically books that try this get lost on the way; some descend into a single piece of functionality that gets overworked, some into obsessive testing and others simply skip over it. In F# Applied, you’ll learn how it’s done for real, instead.</p>
      <p>The strength of this book is its focus on the end-to-end scenario of using Suave, thereby letting you learn like you were pair-programming with a benevolent senior developer by your side.</p>
      <p>Read this. You’ll enjoy it.</p>
    </div>

    <h3 class="font-display text-lg lg:text-xl">Ademar Gonzalez <span class="text-sm opacity-80">(Co-author of Suave, Lead Programmer at Code Maker Inc)</span></h3>

    <div class="opacity-90 space-y-1 lg:space-y-2">
      <p>Tamizhvendan is an early Suave adopter and has often written about Suave micro-services. In this book, he does a great job explaining the basic principles on which Suave is built on. I found the style easy to follow.</p>
      <p>This book will teach you how to create Suave-based web applications using modern application development techniques; from start to finish, including setting up Continuous Integration and deploying containers to the cloud!</p>

    </div>
  </section>

  <p class="text-center">
    <a class="gumroad-button" href="https://tamizhvendan.gumroad.com/l/fsharp-applied">Get it from</a>
  </p>

  <section class="flex flex-col space-y-2 lg:space-y-4">
    <h2 class="font-display text-xl lg:text-3xl">Testimonials</h2>
    <div class="mx-auto mt-16 flow-root max-w-2xl sm:mt-20 lg:mx-0 lg:max-w-none">
      <div class="-mt-8 sm:-mx-4 sm:columns-2 sm:text-[0]">
        {% for testimonial in testimonial.fs_applied.testimonials %}
          <div class="pt-8 sm:inline-block sm:w-full sm:px-4">
            <figure class="rounded-2xl bg-gray-50 p-8 text-sm leading-6">
              <blockquote class="text-gray-900">
                <p>{{testimonial.content}}</p>
              </blockquote>
              <figcaption class="mt-6 flex items-center gap-x-4">
                <img class="h-10 w-10 rounded-full bg-gray-50" src="{{testimonial.avatarUrl}}" alt="">
                <div>
                  <div class="font-semibold text-gray-900">{{testimonial.author}}</div>
                  <div class="text-gray-600">
                    <a href="{{testimonial.url}}">{{testimonial.handle}}</a>
                  </div>
                </div>
              </figcaption>
            </figure>
          </div>
        {% endfor %}
      </div>
    </div>

    {# <div class="grid md:grid-cols-2">
      <p>https://twitter.com/ooobject/status/743306685771440128</p>
      <p>https://twitter.com/vgaltes/status/742827351113891840</p>
      <p>https://twitter.com/laygr/status/765725896502226944</p>
      <p>https://twitter.com/AwesomeFSharp/status/742262424015900672</p>
    </div> #}

  </section>

  <section class="flex flex-col space-y-2 lg:space-y-4">
    <h2 class="font-display text-xl lg:text-3xl">Chapters</h2>

    <p>In the first chapter, Understanding Suave, you are going to build a minimal version of Suave called MiniSuave. This chapter uses one of the powerful learning technique called Learning by Synthesis. You are going to learn the design principles of Suave library by building a minimal version of it.</p>

    <p>́The second chapter introduces the Suave library and helps you to get started with the Web development.</p>

    <p>The third chapter is one of the important chapters of this book. It is going to help you on how to build bigger applications by composing smaller functions. This chapter will also help you to get a solid understanding of Suave.</p>

    <p>In the fourth chapter, you will be learning how to create middlewares in Suave. You will be developing a JWT authentication and authorization middleware for Web APIs.</p>

    <p>The fifth chapter introduces you to the wonderful world of the Functional Reactive Programming(FRP). We will be implementating an API Gateway by writing a beautiful code using Rx</p>

    <p>The last chapter reveals the magic of this book. We will be developing a business application end to end. You are going to witness Domain Driven Development (DDD), EventSourcing, CQRS, FAKE (for CI), Paket and Docker (for CD) in action!</p>
  </section>

  <p class="text-center">
    <a class="gumroad-button" href="https://tamizhvendan.gumroad.com/l/fsharp-applied">Get it from</a>
  </p>
</div>