<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {%- if (ogImage) -%}
      <meta property="og:image" content="{{ogImage}}">
    {%- endif -%}
    <title>{{title}} - Tamizhvendan </title>
    <link href="https://unpkg.com/prismjs@1.20.0/themes/prism-okaidia.css" rel="stylesheet">
    <link rel="stylesheet" href="/assets/styles/site.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://cdn.jsdelivr.net/npm/remixicon@2.2.0/fonts/remixicon.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@400;500;600;700&family=Figtree:wght@400;500;600;700&family=Source+Sans+Pro:wght@400;500;600;700&display=swap" rel="stylesheet">

  </head>

  <body class="font-body mx-auto max-w-4xl px-4 md:px-8 lg:p-0 mb-6 md:mb-10">
    <header class="py-4 mt-2 flex items-center justify-between">
      <img class="h-8 w-12 md:h-10 md:w-20" src="/assets/images/tamizh.svg" alt="Tamizh in words"/>
      <nav>
        <ul class="flex items-center space-x-3 md:space-x-4">
          <li>
            <a href="/" {% if page.url == '/' %} class="underline decoration-2 underline-offset-4"  {% endif %}>Home</a>
          </li>
          <li>
            <a href="/blog" {% if page.url == '/blog/' %} class="underline decoration-2 underline-offset-4"  {% endif %}>Blog</a>
          </li>
          <li>
            <a href="/about" {% if page.url == '/about/' %} class="underline decoration-2 underline-offset-4"  {% endif %}>About Me</a>
          </li>
        </ul>
      </nav>
    </header>
    <main class="mt-2 md:mt-8 lg:mt-16">
      {% block content %}
        {{ content | safe }}
      {% endblock %}
    </main>
    <script src="https://unpkg.com/prismjs@1.23.0/plugins/match-braces/prism-match-braces.min.js" defer></script>
  </body>
</html>